<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.povodev.luminosita"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <receiver
            android:name="com.povodev.luminosita.Provider"
            android:label="@string/widget_name" >
            <intent-filter>

                <!-- This widget provider receives broadcast with following action name or simply onUpdate of AppWidgetProvider is called -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings" />
        </receiver>
        <receiver
            android:name="com.povodev.luminosita.MyBroadcastReceiver"
            android:label="widgetBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.povodev.Provider.minus" />
                <action android:name="com.povodev.Provider.plus" />
                <action android:name="com.povodev.Provider.change" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings" />
        </receiver>

    </application>

</manifest>
